<appSettings>
  <!--<add key="MailServer" value="dev-smtp.vidly.com"/>-->
  <add key="FacebookAppId" value="598654061045136"/>
  <add key="FacebookAppSecret" value="65c8f8bb9a69b885d7909779a8f776ba"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--<add key="owin:AutomaticAppStartup" value="false" /> -->
</appSettings>
